
body {
  width: 1300px;
  margin: 0 auto;
}

header {
  height: 566px;
  background: url("assets/headerback.png");
}

@font-face {
  font-family: LucidaSans-Italic;
  src: url(./assets/fonts/LSANSI.TTF);
 }

 @font-face {
  font-family: MyriadPro-Regular;
  src: url(./assets/fonts/MyriadPro-Regular.ttf);
 }

 .logo {
   position: absolute;
   margin: 30px 0 0 140px;
   display: flex;
   align-items: center;     
 }

h1 {
  font-family: LucidaSans-Italic, MyriadPro-Regular;
  font-size: 40px;
  color: rgba(255, 255, 255, 255);
  display: inline-block;
}

header img{
  display: inline-block;
  width: 80px;
  height: 80px;
}

header img:first-child {
  opacity: 0.5;
}

header img:nth-child(2) {
  position: absolute;
  transform: rotate(45deg);
}

nav {
  position: relative;
  left: 700px;
  top: 65px;
  margin: 0;
  display: inline-block;
}

nav .rectback {
  width: 450px;
  height: 40px;
  background: #7f7422;
}

nav .rectmid {
  position: relative;
  left: 5px;
  top: -35px;
  width: 450px;
  height: 40px;
  background: #a0871a;
}

nav .menu {
  position: relative;
  left: 10px;
  top: -70px;
  width: 450px;
  height: 40px;
  background: #f5c506;
}
nav .menu div {
  display: inline-block;
}

