
body {
  width: 1300px;
  margin: 0 auto;
}

header {
  height: 566px;
  background: url("assets/headerback.png");
}

@font-face {
  font-family: LucidaSans-Italic;
  src: url(./assets/fonts/LSANSI.TTF);
 }

 @font-face {
  font-family: MyriadPro-Regular;
  src: url(./assets/fonts/MyriadPro-Regular.ttf);
 }

 @font-face {
  font-family: SegoeWP;
  src: url(./assets/fonts/SegoeWP.ttf);
 }

 @font-face {
   font-family: Asap-Regular;
   src: url(./assets/fonts/Asap-Regular.ttf);
  }

@font-face {
  font-family: Segoe-UI-light;
  src: url(./assets/fonts/Segoe-UI-light.ttf);
 }

 .logo {
   position: absolute;
   margin: 30px 0 0 140px;
   display: flex;
   align-items: center;     
 }

h1 {
  font-family: LucidaSans-Italic, MyriadPro-Regular;
  font-size: 40px;
  color: rgba(255, 255, 255, 255);
  display: inline-block;
  font-weight: 400;
}

header .logo img{
  display: inline-block;
  width: 80px;
  height: 80px;
}

header .logo img:first-child {
  opacity: 0.5;
}

header .logo img:nth-child(2) {
  position: absolute;
  transform: rotate(45deg);
}

nav {
  position: relative;
  left: 700px;
  top: 65px;
  margin: 0;
  display: inline-block;
}

nav .rectback {
  width: 450px;
  height: 40px;
  background: #7f7422;
  opacity: 0.4;
}

nav .rectmid {
  position: relative;
  left: 5px;
  top: -35px;
  width: 450px;
  height: 40px;
  background: #a0871a;
  opacity: 0.7;
}

nav .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 10px;
  top: -70px;
  width: 450px;
  height: 40px;
  background: #f5c506;
}

nav .menu .vertical-line {
  background-color: #dcb105;
  width: 1px;
  height: 100%;
  z-index: 5;
  content: "";
  display: inline-block;
}

nav .menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav h3 {
  margin-left: 5px;
  font-family: SegoeWP, MyriadPro-Regular;
  font-size: 17px;
  color: rgba(155, 125, 8, 255);
  text-align: center;
  display: inline-block;
}

.player {
  width: 550px;
  height: 330px;
  position: absolute;
  margin: 80px 0 0 150px;
}

.player .mask {
  position: absolute;
  background-color: #776832;
  width: 550px;
  height: 330px;
  opacity: 0.3;
  z-index: 4;
}

.resume {
  width: 67px;
  height: 67px;
  opacity: 0.75;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  background-color: #f8d54b;
  left: 242px;
  top: 132px;
}

.resume-triangle {
  left: 269px;
  top: 149px;
  position: absolute;
  z-index: 6;
	width: 0;
  height: 0;
	border-top: 17px solid transparent;
	border-left: 19px solid #f5f4f2;
	border-bottom: 17px solid transparent;
}

.control {
  width: 27px;
  height: 27px;
  opacity: 0.6;
  z-index: 3;
  position: absolute;
  background-color: #997d28;
  left: 30px;
  top: 280px;
}

.control-triangle {
  left: 40px;
  top: 285px;
  position: absolute;
  z-index: 6;
	width: 0;
  height: 0;
  opacity: 0.5;
	border-top: 8px solid transparent;
	border-left: 10px solid #f5f4f2;
	border-bottom: 8px solid transparent;
}

.viewbar {
  left: 80px;
  top: 288px;
  position: absolute;
  width: 180px;
  height: 12px;
  border-radius: 5px 0 0 5px;
  background: #fcca04;
  z-index: 3;
}

.loadingbar {
  left: 80px;
  top: 288px;
  position: absolute;
  width: 400px;
  height: 12px;
  border-radius: 5px;
  z-index: 2;
  background: #fcefba;
}

img[alt="volume"] {
  left: 515px;
  top: 288px;
  z-index: 4;
  position: absolute;
}

.tagline {
  position: relative;
  left: 750px;
  top: 150px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

header h2 {
  font-family: Asap-Regular, MyriadPro-Regular;
  font-size: 63px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

header h2.cool {
  color: rgba(245, 197, 6, 255);
}

header h2.minimal {
  color: white;
}

.icons {    
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 170px;
  padding-bottom: 40px;
  padding-left: 85px;
  padding-right: 85px;
  background: url("./assets/icons-background.png")
}

.icons .vertical-line {
  width: 1px;
  top: 40px;
  position: relative;
  height: 210px;
  background-color: #d2d2d2;
}

.icons h4{
  font-family: Segoe-UI-light, MyriadPro-Regular;
  font-size: 27px;
  color: rgba(0, 0, 0, 255);
  text-align: center;
  margin: 0;
}

.icons .price,
.icons .customize,
.icons .design {
  display: flex;
  align-items: center;
  justify-content: center;
  width:181px;
  flex-wrap: wrap;
}
